# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
# Keep .vscode in version control if you want to distribute
# launch configurations/tasks with the package.
# .vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

# Pub package lock
pubspec.lock

# Generated API documentation
**/doc/api/

# DO NOT ignore example/